<header [ngClass]="{ 'cliente-header': isCliente }">
  <div class="logo-container" (click)="isAdmin ? dashboard() : pedidosCliente()">
    <img src="assets/img/logo.png" alt="Logo Apptite" class="logo-img" />
  </div>

  <button class="menu-toggle" (click)="toggleMobileMenu()" aria-label="Abrir menu">
    &#9776;
  </button>

  <nav [ngClass]="{ 'active': isMobileMenuOpen }">
    <ng-container *ngIf="isAdmin">
      <a routerLink="/dashboard" (click)="dashboard(); toggleMobileMenu()">Dashboard</a>
      <a routerLink="/cadastro-restaurante" (click)="cadastroRestaurante(); toggleMobileMenu()">Restaurante</a>
      <a routerLink="/alterar-cadastro" (click)="toggleMobileMenu()">Perfil</a>
    </ng-container>

    <ng-container *ngIf="isGarcon">
      <a (click)="verPedidosGarcon(); toggleMobileMenu()">Pedidos do Garçom</a>
    </ng-container>

    <ng-container *ngIf="isChef">
      <a (click)="verPedidosChef(); toggleMobileMenu()">Pedidos do Chef</a>
    </ng-container>

    <ng-container *ngIf="isCliente">
      <a (click)="pedidosCliente(); toggleMobileMenu()">Continuar Comprando</a>
      <a (click)="verPedidosCliente(); toggleMobileMenu()">Meus Pedidos</a>
      <a (click)="pagarConta(); toggleMobileMenu()">Pagar Conta</a>
      <a (click)="abrirFeedback(); toggleMobileMenu()">Enviar Feedback</a>
    </ng-container>

    <a (click)="logout(); toggleMobileMenu()" class="logout">Sair</a>
  </nav>
</header>
